.players{
  display: flex;
  margin-left:27.9%;
}

.player1{
  margin-left:140px;
}

.player2{
  margin-left:140px;
}

.p1{
  height:80px;
  padding-top: 40px;
  margin-right: 65px;
}

.p2{
  height:80px;
  padding-top: 40px;
  margin-right: 60px;
}

h3{
  padding-left: 40px;
}


.startButton button{
    width:150px;
    height:60px;
    font-size:30px;
    margin-left:45%;
    margin-top:50px;
}
.startButton{
    padding-bottom:150px;
}
